absl-py==0.9.0
ACO-Pants==0.5.2
adjustText==0.7.3
alabaster==0.7.12
altgraph==0.17
appdirs==1.4.4
appnope==0.1.0
argcomplete==1.12.0
argh==0.26.2
astunparse==1.6.3
attrs==19.3.0
Babel==2.8.0
backcall==0.1.0
beautifulsoup4==4.9.0
biopython==1.78
bioservices==1.7.4
bleach==3.1.4
boltons==20.2.1
brotlipy==0.7.0
BucketCache==0.12.1
cachetools==4.1.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
colorlog==4.1.0
commonmark==0.9.1
configparser==5.0.1
coverage==5.3
cryptography==3.2.1
cutadapt==2.10
cycler==0.10.0
de-toolkit==0.9.12
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.12
dill==0.3.3
diskcache==5.0.3
dm-tree==0.1.5
dnaio==0.4.2
docopt==0.6.2
docutils==0.16
easydev==0.9.38
entrypoints==0.3
fbpca==1.0
feather-format==0.4.1
future==0.18.2
gast==0.3.3
genomepy==0.9.1
genomics-bcftbx==1.9.1
geosketch==1.0
gevent==20.5.0
GFFUtils==0.11.0
gimmemotifs==0.15.1
google-auth==1.14.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphtools==1.5.2
graphviz==0.14
greenlet==0.4.15
grequests==0.6.0
grpcio==1.28.1
gseapy==0.9.18
h5py==2.10.0
idna==2.10
igv-jupyter==0.9.8
imageio==2.9.0
imagesize==1.2.0
iniconfig==1.0.1
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.16.0
Jinja2==2.11.2
joblib==0.17.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.2
jupyter-console==6.1.0
jupyter-core==4.6.3
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
llvmlite==0.34.0
loc2gene==1.0.0
Logbook==1.5.3
logomaker==0.8
lxml==4.5.0
macholib==1.14
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.3.3
matplotlib-venn==0.11.5
mistune==0.8.4
more-itertools==8.4.0
nbconvert==5.6.1
nbformat==5.0.5
nbsphinx==0.7.1
networkx==2.4
norns==0.1.5
nose==1.3.7
notebook==6.0.3
numba==0.51.2
numpy==1.18.5
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.2.1
packaging==20.4
pandas==1.1.4
pandocfilters==1.4.2
parso==0.6.2
patsy==0.5.1
pexpect==4.8.0
phate==1.0.7
pickleshare==0.7.5
Pillow==8.2.0
pluggy==0.13.1
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.11.3
psutil==5.7.3
ptyprocess==0.6.0
py==1.9.0
pyarrow==0.17.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybedtools==0.8.1
pybiomart==0.2.0
pycparser==2.20
pyfaidx==0.5.9.1
Pygments==2.6.1
PyGSP==0.5.1
PyInquirer==1.0.3
PyInstaller==3.6
pynndescent==0.5.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
pysam==0.9.1
PySocks==1.7.1
pyswarm==0.6
pyswarms==1.1.0
pytest==6.0.1
python-dateutil==2.8.1
python-mnist==0.7
pytz==2020.4
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.0
qnorm==0.6.2
qtconsole==4.7.2
QtPy==1.9.0
recommonmark==0.6.0
regex==2020.5.14
Represent==1.5.1
requests==2.24.0
requests-cache==0.5.2
requests-oauthlib==1.3.0
rsa==4.0
s-gd2==1.8
scibiomart==1.0.0
scidat==1.0.4
scidmg==1.0.0
scie2g==1.0.0
scikit-image==0.17.2
scikit-learn==0.23.2
scikit-spatial==4.0.1
scimotf==1.0.0
scipy==1.5.3
scircm==1.0.0
sciutil==1.0.3
scivae==1.0.1
sciviso==1.0.3
scprep==1.0.13
seaborn==0.11.1
Send2Trash==1.5.0
simplejson==3.17.2
six==1.15.0
sklearn==0.0
snowballstemmer==2.0.0
soupsieve==2.0
Sphinx==3.2.1
sphinx-argparse==0.2.5
sphinx-rtd-theme==0.5.0
sphinx-sitemap==2.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
squarify==0.4.3
statannot==0.2.3
stats==0.1.2a0
statsmodels==0.13.0.dev0+346.g7158bcd77
style==1.1.0
suds-jurko==0.6
tasklogger==1.0.0
tbb==2019.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.3.1
tensorflow-cpu==2.2.0
tensorflow-estimator==2.3.0
tensorflow-hub==0.7.0
tensorflow-probability==0.11.1
tensorflowjs==1.7.4.post1
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.7.24
toml==0.10.1
torch==1.8.1
torchvision==0.9.1
tornado==6.1
tqdm==4.51.0
traitlets==4.3.3
typing-extensions==3.7.4.3
umap-learn==0.4.2
update==0.0.1
urllib3==1.25.11
venn==0.1.3
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xdg==4.0.1
xgboost==1.2.0
xlrd==1.2.0
XlsxWriter==1.3.3
xlutils==2.0.0
xlwt==1.3.0
xmltodict==0.12.0
xopen==0.8.4
xxhash==1.4.4
